#main {
    display: flex;
    align-content: flex-start;
    justify-content: center;
    flex-wrap: wrap;
}
div.inner {
    margin: 2vh;
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    border-radius: 10px;
    border-style: solid;
    width: 70%;
    flex-direction: row;
    height: 100px;
    align-items: center;
    font-family: monospace;
    flex-wrap: nowrap;
}

#welcome-text {
    font-size: 5em;
}

#intro-text {
    font-size: 2em;
    text-align: center;
}

table#footerlinks {
    width: inherit;
    height: inherit;
}

td.footerlink {
    font-size: 30px;
    border-style: solid;
    border-color: black;
    border-radius: 20px;
    text-align: center;

}

div#footer {
    height: 55px !important;
    position: absolute;
    bottom: 0px;
    width: 90vw;
}

/* @keyframes bganimate {
    0% {
        background: linear-gradient(45deg, #19ccc5, #0041e6);
    }
    50% {
        background: linear-gradient(45deg, #1990cc, #0023a3);
    }
    100% {
        background: linear-gradient(45deg, #19ccc5, #0041e6);
    }
} */

body {
    height: 100%;
    margin: 0;
    background: linear-gradient(45deg, #19ccc5, #0041e6);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 200% 200%;
}


#footerlinks {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}