#main {
    display: flex;
    align-content: flex-start;
    justify-content: center;
    flex-wrap: wrap;
}
div.inner {
    margin: 2vh;
    display: flex;
    align-content: center;
    justify-content: center;
    border-radius: 10px;
    border-style: solid;
    width: 70%;
    flex-direction: row;
    height: 100px;
    align-items: center;
    font-family: monospace;
}

#welcome-text {
    font-size: 5em;
}

#intro-text {
    font-size: 2em
}

table#footerlinks {
    width: inherit;
    height: inherit;
}

td.footerlink {
    font-size: 30px;
    border-style: solid;
    border-color: black;
    border-radius: 20px;
    text-align: center;

}

div#footer {
    height: 55px !important;
    position: absolute;
    bottom: 0px;
    width: 90vw;
}